/* app css stylesheet */
$font-size: 6rem;
$med-size: 3rem;

body {
  background-color: #000000;
  color: #ffffff;
}
.main {
  text-align: center;
  font-size: $font-size;
  line-height: 1.1;
  img {
    width: 15%;
  }
  p:nth-child(3) {
    margin-top: 1em;
  }
  .med-size {
    font-size: $med-size;
  }
  .temp-type {
    cursor: pointer;
    color: #0000FF;
  }
}
