/* app css stylesheet */
body {
  background-color: #000000;
  color: #ffffff; }

.main {
  text-align: center;
  font-size: 6rem;
  line-height: 1.1; }
  .main img {
    width: 15%; }
  .main p:nth-child(3) {
    margin-top: 1em; }
  .main .med-size {
    font-size: 3rem; }
  .main .temp-type {
    cursor: pointer;
    color: #0000FF; }
